.colonne-centree
{
float: none;
margin: 0 auto;
}

#petit{
  color : rgb(65, 84, 87);
  font-family: Georgia, serif;
font-size: 15px;
letter-spacing: 0.2px;
word-spacing: 2px;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: capitalize;
}

.img{
  padding: 10px 10px 10px 10px;
  height: 100px;
  width: 100px;
margin-bottom: 10px;}

.obj {
  font-family: Georgia, serif;
  font-size: 22px;
  letter-spacing: -0.2px;
  word-spacing: -0.2px;
  color: rgb(0, 194, 219);;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
  }

.text{
  
  background-color: blueviolet;
  font-family :American Typewriter, serif;

}

.btn{
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  color : rgb(0, 0, 0);
  background-color: rgb(0, 194, 219);
  border-radius: 10px 0 0 10px;
  font-size: 16px;
}



