<div class="col-sm-4">
    <div class="obj">
    <p>  {{product.name}}</p>
    </div>
    <div  class="row align-items-center">
    <div class="col-md-1" colonne-centree>
    <img class="img" [attr.src]="server+product.logo" (click)="put()"/>
    </div>
    <p><span> Quantité : {{product.quantite}} </span> </p>  
    <p><span>Coût pour 1 : $</span><span [innerHTML]="newPrice | bigvalue"></span></p>
    <p> <span>  Bénefices : {{product.revenu}} $/produit</span> </p>
    <div class="progress" #bar></div>
        <p><button class="btn" (click)="buyProduct()">Buy <span>x{{_qtmulti}}</span></button></p>
</div>

 
