<style>
  * {
  border: 1px solid red;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"><span id="worldimage"><img src="http://localhost:8080/world.png" class="round" /> </span></div>
    <div class="col-md-4"><span id="worldname">{{world.name}}</span></div>
    <!--<div class="col-md-4"><span id="worldmoney">Votre argent: {{world.money}} $</span></div>-->
    <div class="col-md-4"><span [innerHTML]="world.money | bigvalue"></span></div>
    <!--<div class="col-md-1"><span id="buybutton1"><button class="buybtn">Acheter x1</button></span></div>
    <div class="col-md-1"><span id="buybutton10"><button class="buybtn">Acheter x10</button></span></div>
    <div class="col-md-1"><span id="buybutton100"><button class="buybtn">Acheter x100</button></span></div>-->
  </div>
    <div class="row">
      <div class="col-md-12">Bienvenue  (insérer ici le chemin pour récupérer le username) !</div>
    </div>
        <div class="col-md-2">
          <div class="list-group">
            <div class="buttonleft btn btn-primary btn-lg" data-toggle="modal" (click)="managersModal.show()" >Managers</div>
            <!-- <div class="buttonleft btn btn-primary btn-lg" data-toggle="modal" (click)="unlocksModal.show()" >Unlocks</div>
            <div class="buttonleft btn btn-primary btn-lg" data-toggle="modal" (click)="cashupgradesModal.show()" >Cash Upgrades</div>
            <div class="buttonleft btn btn-primary btn-lg" data-toggle="modal" (click)="angelupgradesModal.show()" >Angel Upgrades</div>
            <div class="buttonleft btn btn-primary btn-lg" data-toggle="modal" (click)="investorsModal.show()" >Investors</div>
          </div>-->
        </div>
        <div class="col-md-10">
          <app-product [prod]="world.products.product[0]" [money]="world.money" [qtmulti]="qtmulti" (notifyProduction)="onProductionDone($event)" (notifyMoney)="onBuy($event)"></app-product>
          <app-product [prod]="world.products.product[1]" [money]="world.money" [qtmulti]="qtmulti" (notifyProduction)="onProductionDone($event)" (notifyMoney)="onBuy($event)"></app-product>
          <app-product [prod]="world.products.product[2]" [money]="world.money" [qtmulti]="qtmulti" (notifyProduction)="onProductionDone($event)" (notifyMoney)="onBuy($event)"></app-product>
          <app-product [prod]="world.products.product[3]" [money]="world.money" [qtmulti]="qtmulti" (notifyProduction)="onProductionDone($event)" (notifyMoney)="onBuy($event)"></app-product>
          <app-product [prod]="world.products.product[4]" [money]="world.money" [qtmulti]="qtmulti" (notifyProduction)="onProductionDone($event)" (notifyMoney)="onBuy($event)"></app-product>
          <app-product [prod]="world.products.product[5]" [money]="world.money" [qtmulti]="qtmulti" (notifyProduction)="onProductionDone($event)" (notifyMoney)="onBuy($event)"></app-product>
        </div>

        <app-modal #managersModal>
          <div class="app-modal-header">
          <h4 class="modal-title">Managers make you feel better !</h4>
          </div>
          <div class="app-modal-body">
            <div *ngFor="let manager of world.managers.pallier">
              <div class="col-md-5">
                  <span>{{manager.name}}</span>
              </div>
              <div class="col-md-5">
                  <span>{{manager.seuil}}</span>
              </div>
                  <button type="button" (click)="buyManager(manager)">Acheter</button>
            </div>
          </div>
          <div class="app-modal-footer">
          <button type="button" class="btn btn-default" (click)="managersModal.hide()">Close</button>
          </div>
         </app-modal>
         
  
</div>