<!DOCTYPE html>
<head>

</head>

<body>
  <div>
    <!--Bandeau du haut--> 
    <div><img [attr.src]="server+world.logo"></div>
    <div>{{world.name}}</div>
    <div> Argent : {{world.money}}</div>
    <!--Menu de gauche--> 
    <div>
      <a><h3>Unlocks</h3></a>
      <a><h3>Cash Upgrades</h3></a>
      <a><h3>Angel Upgrades</h3></a>
      <a><h3>Managers</h3></a>
      <a><h3>Investors</h3></a>
    </div>
  </div>
  <!--Liste des produits--> 
  <div>
  <app-product [prod]="world.products.product[0]" class="product col-md-6"></app-product>
  <app-product [prod]="world.products.product[1]" class="product col-md-6"></app-product>
  <app-product [prod]="world.products.product[2]" class="product col-md-6"></app-product>
  <app-product [prod]="world.products.product[3]" class="product col-md-6"></app-product>
  <app-product [prod]="world.products.product[4]" class="product col-md-6"></app-product>
  <app-product [prod]="world.products.product[5]" class="product col-md-6"></app-product>
  </div>
</body>
